html{
  background-color:beige;
}
.h1-con h1{
    text-align: center;
  }
  
  
  .topNav-con{
    position: relative;
    background:rgba(104, 141, 221, 0.685);
    overflow: hidden;
   top: 0px;
   float: left;
   width: 100%;
   border-radius: 10px;
   border: 1px solid black ;
    box-shadow: 0 0 15px rgba(17, 19, 20, 1);
   
}


  
  .topNav-con a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding:1.2%;
    text-decoration: none;
  }
  
    
  
    .topNav-con a:hover {
      background-color: #a9a8df7e;
      border-radius: 10px;
      box-shadow: inset 5px -5px 5px rgba(0, 0, 0, 0.7);
     
    }
    
   
    
    .active {
      background-color: #0d0b7e7e;

      border-radius: 10px;
   
    }

.article-con{
  position: absolute;
  top: 25%;
  font-family: 'Times New Roman', Times, serif;
 
  font-size:large;
  padding: 2%;
  padding-bottom: 10%;
  border-radius: 10px;
}




    .footer-con{
      background-color: rgb(0, 0, 0);
      box-shadow: 0 0 50px rgb(31, 29, 29);
      padding: 20px;
      text-align: left;
     position: fixed;
      bottom: 0px;
      left: 0;
      width: 100%;
      
    
  }
  .footerText-con{
    color: beige;
   font-family: 'Times New Roman', Times, serif;
    position: relative;
    left: 0px;
    top: 1px;
    text-align: center;
}
.footerText-con p{
    font-size: smaller;
}

  /*Händys screen */
@media  only screen and (max-width:580px) {
  .h1-con{
      margin: 0%;
      padding-left: 3%;
  
      
      font-family: 'Courier New', Courier, monospace;
      position: absolute;
      top: 3%;
      left: 50%;
      transform: translate(-50%,-50%);
     
  }
  .h1-con h1{
    text-align: center;
    font-size: large;
  }
  
 
  
  
  .topNav-con{
    position: absolute;
    
    overflow: hidden;
    height: auto;
    width: 100%;
   top:5%;
   float: right;

   border-radius: 5px;
   
}


  
  .topNav-con a {
    float: left;
    display: block;
   
    text-align: center;
    padding-right: 4px;
font-size: x-small;
    text-decoration: none;
  }
  
  .active {
    

    border-radius: 5px;
 
  } 
  .topNav-con a:hover {
    
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  }


  .article-con{
    position: absolute;
    top: 10%;
    font-family: 'Times New Roman', Times, serif;
    background-color:aquamarine;
    font-size:small;
    padding: 2%;
    padding-bottom: 10%;
    border-radius: 10px;
  }

  .footer-con{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 50px rgb(31, 29, 29);
    padding: 20px;
    text-align: left;
   position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    
  
}
.footerText-con{
    color: rgb(247, 247, 241);
   font-family: 'Times New Roman', Times, serif;
    position: relative;
    left: 0px;
    top: 1px;
    font-size: x-small;
}
  
  
  
  
  }