
html{
  background-color: white;
}
.h1-con h1{
    text-align: center;

  }
  
  
  .topNav-con{
    position: relative;
    background:rgba(104, 141, 221, 0.685);
    border: 1px solid black ;
    box-shadow: 0 0 15px rgba(17, 19, 20, 1);
    overflow: hidden;
   top: 0px;
   float: left;
   width: 100%;
   border-radius: 10px;
  
   
}


  
  .topNav-con a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding:1.2%;
    text-decoration: none;
  }
  
    
  
    .topNav-con a:hover {
      background-color: #a9a8df7e;
      border-radius: 10px;
      box-shadow: inset 5px -5px 5px rgba(0, 0, 0, 0.7);
     
    }
    
   
    
    .active {
      background-color: #0d0b7e7e;

      border-radius: 10px;
   
    }
    .main-con {
   
      
      height: 50%;
      width: 100%;
      position: absolute;
      top: 25%;
      border-radius: 10px;
      padding-top: 2%;
      padding-left: 2%;
    }



    .outer{
      height: 18px;
      width: 50%;
      background-color:white;
      border-radius: 5px;
      border: 2px solid black ;
      
      
      
  
  }
  .text{
    float: right;
    padding-right: 1%;

}
  .inner1{
      height: 100%;
      width: 65%;
      background:rgba(4, 80, 245, 0.685);
      float: left;
      padding-left: 1%;
      animation: progressAnimatio1 5s;
    }
    
    @keyframes progressAnimatio1{
        0%{width: 0%;}
        
        65%{width: 65%;}
      
    }
  
  
 
  .inner2{
      height: 100%;
      width: 60%;
      background:rgba(4, 80, 245, 0.685);
      float: left;
      padding-left: 1%;
  
      animation: progressAnimatio2 5s;
    }
    
    @keyframes progressAnimatio2{
        0%{width: 0%;}
        
        60%{width: 60%;}
      
    }
  
  .inner3{
      height: 100%;
      width: 40%;
      background:rgba(4, 80, 245, 0.685);
      float: left;
      padding-left: 1%;
      animation: progressAnimatio3 5s;
    }
    
    @keyframes progressAnimatio3{
        0%{width: 0%;}
        
        40%{width: 40%;}
      
    }
  
  .inner4{
      height: 100%;
      width: 50%;
      background:rgba(4, 80, 245, 0.685);
      float: left;
      padding-left: 1%;
  
      animation: progressAnimatio4 5s;
    }
    
    @keyframes progressAnimatio4{
        0%{width: 0%;}
        
        50%{width: 50%;}
      
    }
  
  .inner5{
      height: 100%;
      width: 60%;
      background:rgba(4, 80, 245, 0.685);
      float: left;
      padding-left: 1%;
  
      animation: progressAnimatio5 5s;
    }
    
    @keyframes progressAnimatio5{
        0%{width: 0%;}
        
        60%{width: 60%;}
      
    }
  
  .inner6{
      height: 100%;
      width: 75%;
      background:rgba(4, 80, 245, 0.685);
      float: left;
      padding-left: 1%;
      animation: progressAnimation6 5s;
    }
    
    @keyframes progressAnimation6{
        0%{width: 0%;}
        
        75%{width: 75%;}
      
    }
  
  .inner7{
      height: 100%;
      width: 80%;
      background:rgba(4, 80, 245, 0.685);
      float: left;
      padding-left: 1%;
      animation: progressAnimatio7 5s;
    }
    
    @keyframes progressAnimatio7{
        0%{width: 0%;}
        
        80%{width: 80%;}
      
    }
  
  .inner8{
      height: 100%;
      width: 70%;
      background:rgba(4, 80, 245, 0.685);
      float: left;
      padding-left: 1%;
  
      animation: progressAnimatio8 5s;
    }
    
    @keyframes progressAnimatio8{
        0%{width: 0%;}
        
        70%{width: 70%;}
      
    }
  





    .footer-con{
      background-color: rgb(0, 0, 0);
      box-shadow: 0 0 50px rgb(31, 29, 29);
      padding: 20px;
      text-align: left;
     position: fixed;
      bottom: 0px;
      left: 0;
      width: 100%;
      
    
  }
  .footerText-con{
    color: beige;
   font-family: 'Times New Roman', Times, serif;
    position: relative;
    left: 0px;
    top: 1px;
    text-align: center;
}
.footerText-con p{
    font-size: smaller;
}

  /*Händys screen */
  @media only screen and (min-width: 360px) and (max-width:768px) {
  
 
  .h1-con{
      

    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}

.h1-con h1{
  text-align: center;
  font-size: medium
}


  
  
  
  .topNav-con{
    position: absolute;
 
    overflow: hidden;
    height: auto;
    width: 100%;
   top:5%;
   float: right;

   border-radius: 5px;
   
}


  
  .topNav-con a {
    float: left;
    display: block;
    
    text-align: center;
    padding-right: 4px;
font-size: x-small;
    text-decoration: none;
  }
  
  .main-con {

  
    position: absolute;
    top: 15%;
    
  }
  .outer{
    width: 75%;
    font-size: small;
  }
.text{
  font-size: small;
}
    
  
.footerText-con{
 
    font-size: x-small;
}
  
  
  
  
  }