
html{
  background-color:white;
}


.h1-con h1{
  text-align: center;
}


.topNav-con{
    position: relative;
    background:rgba(104, 141, 221, 0.685);
    overflow: hidden;
   top: 0px;
   float: center;
   border: 1px solid black ;
   box-shadow: 0 0 15px rgba(17, 19, 20, 1);
   border-radius: 10px;
   
}


  
  .topNav-con a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 1.2%;
    text-decoration: none;
  }
  

  .topNav-con a:hover {
    background-color: #a9a8df7e;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: inset 5px -5px 5px rgba(0, 0, 0, 0.7);
  }
  
 
  
  .active {
    background-color: #0d0b7e7e;
    border-radius: 10px;
  }

  .main-con {
    
    height: 50%;
    width: 100%;
    position: absolute;
    top: 25%;
    border-radius: 10px;
    padding-top: 2%;
  }
  .main-con{
    text-align: center;
  }
.main-con img{
  width: 4%;
  height: 4%;
  
}

.footer-con{
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 50px rgb(31, 29, 29);
  padding: 20px;
  text-align: left;
 position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  

}
.footerText-con{
color: beige;

position: relative;
left: 0px;
top: 1px;
text-align: center;
}
.footerText-con p{
font-size: small;
}

/*Händys screen */
@media only screen and (min-width: 360px) and (max-width:768px){
  html{
    padding: 1%;
  }
  .h1-con{
      margin: 0%;

      position: absolute;
      top: 3%;
      left: 50%;
      transform: translate(-50%,-50%);
     
  }

  .h1-con h1{
    text-align: center;
    font-size: medium;
  }

  
  
  .topNav-con{
      position: absolute;
    
      overflow: hidden;
      height: auto;
      width: 100%;
     top:5%;
     float: right;

     border-radius: 5px;
     
  }
  
  
    
    .topNav-con a {
      float: left;
      display: block;
  
      text-align: center;
      padding-right: 4px;
  font-size: x-small;
      text-decoration: none;
    }
    .topNav-con a:hover {
      
      border-radius: 5px;
      box-shadow: inset 5px -5px 5px rgba(0, 0, 0, 0.7);
    }
    
   
    
    .active {
     
      border-radius: 5px;
    }
   

    .main-con {
      
      height: 50%;
      width: 100%;
position:absolute;
      top: 10%;
      border-radius: 10px;
      bottom: 50%;
      padding-top: 2%;
      font-size: small;
      padding-top: 15px;
    }
    
   
  
.footerText-con{
    color: rgb(247, 247, 241);
   font-family: 'Times New Roman', Times, serif;
    position: relative;
    left: 0px;
    top: 1px;
    font-size: x-small;
}
  
  
  
  }