html{
    background-color:white;
}

body{
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    
}




.header-container{
    position: relative;
    top: 0.5%;
    left: 0.5%;
    width:97.5%;
    border-radius:10px 10px 0px 0px;;
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.603);
    background:rgba(51, 107, 228, 0.685);
  
    border: 1px solid rgba(54, 54, 54, 0.623);
border-bottom:none ;
    

   
 
   
    
}
.h1-con{


    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}

.img-con{
    position: relative;
    align-items: center;
    display: flex;
    padding: 0%;
    margin: 1%;
    padding-top: 1%;
    height: 50%;
    width: 50%;
  
}

.img-con img{
   position: relative;

    width: 40%;
    height:100%;

    border-radius:10%;
   box-shadow: 0 0 10px rgba(17, 19, 20, 1);
    
}

.Name-con{
    position: relative;
 
   width: auto;
 height: auto;
   padding-left: 2%; 
    
   

   
}


.topNav-con{
    position: relative;
    width: auto;
    height:auto;
    top: 0%;
    float: right;
    padding-right: 0%;
    margin-right: 1.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(54, 54, 54, 0.623);
    border-top: none;
    border-left: none;
    background:rgba(104, 141, 221, 0.685);
   border-radius: 0 0 10px 10px;
   box-shadow: 0px 15px 25px  rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(10px);
   
   
}


  
  .topNav-con a {
    float: left;
    text-align: center;
    padding: 10px;
    width:20%;
    color: #000000;
    
    text-decoration: none;
  }
  

  .topNav-con a:hover {
    background-color: #a9a8df7e;
    border-radius: 10px;
    box-shadow: inset 5px -5px 5px rgba(0, 0, 0, 0.7);
   
  }
  
 
  
  .active {
    background-color: #0d0b7e7e;
 border-radius:10px;
  }
  
  .social-media-con{
 position: relative;
    width: 20%;
    height: 6%;
    top: 0%;
    left: 0.5%;
    display: flex;
    flex-direction: row;
 
    background:rgba(104, 147, 240, 0.685);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(54, 54, 54, 0.623);
    border-top: none;
    border-radius: 0 0 10px 10px;
    text-align: center;
  }
.social-media-con a {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0%;

    
   
}
.social-media-con img{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0%;
}
.social-media-con a:hover{
  height: 120%;
  width: 120%;
    border-radius: 10px 10px 10px 10px;
    background-color: #0d0b7e7e ;
    filter: drop-shadow(0 0 25px #333);
}


.introText-con{
    position: relative;
    top:2%;
    padding-left: 2%;
    margin: 1%;
}


.footer-con{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 50px rgb(31, 29, 29);
    padding: 20px;
 
   position: block;
    bottom: 0px;
    left: 0;
    width: 100%;
    
  
}
.footerText-con{
    color: beige;
   
    position: relative;
    left: 0px;
    top: 1px;
    text-align: center;
}
.footerText-con p{
    font-size: small;
}




/* Händys abteilung*/


@media only screen and (min-width: 360px) and (max-width:768px){
    html{
        
        width: 100vw;
        height: 100vh;
        padding: 0%;
        margin: 1%;
    }
body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}
.header-container{
    position: block;
    margin: 0%;
    margin-top: 1%;
    padding: 0%;
    width:100%;
}
.h1-con{
    

    
    position: absolute;
    top: 10%;
    left: 50%;
    padding-bottom: 5%;
    transform: translate(-50%,-50%);
   
}
.img-con{
    position: relative;
    height: 30%;
    width: 30%;

    padding-top: 4%;
    padding-left: 3%;

}


  
.img-con img{  

    width: 100%;
    height: 100%;
   


}



.Name-con{
    position:relative;
 width: auto;
 height: auto;
    top: 10%;
    left: 10%;
    

   

   
}
.Name-con h2{

    font-size: small;
    width: auto;
}


.NavText-con{
    position: relative;
    height:auto;
    width:100%;
    float: right;
  
   

}
.topNav-con{
   width: 100%;
   height: 3%;
    left: 2.5%;
    
    
    overflow: hidden;
    backdrop-filter: none;

   border-radius: 0 0 5px 0px;
   
}


  
  .topNav-con a {
    position: relative;
padding: 1%;
 

    text-align: center;
    font-size:x-small;
    height: 50%;
    width: 50%;
  
  
    text-decoration: none;
  }

  .active {

    box-shadow: 0 0 10% rgb(14, 13, 13);
    border-radius:5px ;


  }
  .active a{
    padding: 0%;
    margin: 0%;
  }
  
  .social-media-con{
 
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding-right: 1%;


   
    border-radius: 0 0 5px 5px;
    text-align: center;
    
  }
.social-media-con a {
    font-size: small;
    height: 100%;
    width: 80%;
    margin-left: 0px;
    padding-left: 4px;
    
   
    
   
}
.introText-con{
    position: relative;
    top:0%;
    padding-left: 2%;
    padding-bottom: 40%;
    font-size: small;
}
.introText-con h3{
  
    font-size: large;
    
}
    
.footer-con{




   position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    
  
}
.footerText-con{

   
    font-size: x-small;
}
  



}